body{
    background-color:#000;
}
*{
    margin: 0px;
    padding: 0px;
}

.row{
    height:1em;
}

.pixel{
    height: 1em;
    width: 1em;
    float: left;
    background: transparent;
}

.pixel:hover{
    background-color: #fff;
}

#controls{
    width: auto;
    height: 10em;
    background-color:grey;
    position: absolute;
    right: 0px;
    top: 0px;
}